@model Asp.netCore.Models.Category;

<form method="post" asp-action="Create">
    <div class="border p-3">
        <div class="form-btn-group row">
            <h2 class="text-info pl-3">Add Category</h2>
        </div>

        <div class = "row">

        </div>
    </div>


</form>
