
@{
    ViewData["Title"] = "About";
}

   <!-- start about -->
    <div class="about">
        <div class="container">
         <!-- start about-page -->
        <div class="about-page">
            <h1 class="title">about()</h1>          
            <div class="resume">
                <a href="https://www.linkedin.com/in/mohamed-achouch/" target="balanc"><i class="resume-icon fab fa-linkedin-in" id="c"></i></a>
                <i class="resume-icon fab fa-github-square" id="c"></i>
                <span class="comment" id="c">My Download</span>
                <a href="./Mohamed Achouch.pdf" target="balanc" class="resume-link" id="c">resume
                    <i class="fas fa-download"></i>
                </a>                
            </div>
            <p class="profile">I am a creative frontend developer, designer and illustrator. From Brazil, based in Berlin.</p>
        <span class="comment">// 10+ years of experience </span>


        <p class="title-experience">Main skills</p> 
        <!-- start experience -->
            <div class="experience">                
               <div class="item-experience">
                    <span class="title-project">Senior Web Engineer</span>
                    <span class="hashtag">&#64; FromAtoB</span>
                    <span class="date">2019 - now</span>
               </div>  
               
               <div class="item-experience">
                   <span class="title-project">Head of Product Design</span>               
                    <span class="hashtag">&#64; BizCommerce</span>
                    <span class="date">2016 - 2019</span>
               </div> 

               <div class="item-experience">
                <span class="title-project">Head of UX/UI</span>
                <span class="hashtag">&#64; BizCommerce</span>
                <span class="date">2011 - 2019</span>
                </div> 

            <div class="item-experience">
                <span class="title-project">Head of Design & Frontend</span>
                <span class="hashtag">&#64; JOE</span>
                <span class="date">2010 - 2014</span>
            </div> 
            <div class="item-experience">
                <span class="title-project">Senior Frontend Developer</span>
                <span class="hashtag">&#64; Tray</span>
                <span class="date">2008 - 2010</span>
                </div> 

            <div class="item-experience">
                <span class="title-project">Web Designer</span>
                <span class="hashtag">&#64; E2W</span>
                <span class="date">2006 - 2008</span>
            </div> 
            <div class="item-experience">
                <span class="title-project">Freelancer</span>
                <span class="hashtag">Illustrations & Web development</span>
                <span class="date"> 2005 - now</span>
                </div> 

            
            </div> 
             <!-- end experience -->
             <p class="title-experience">Tools/years</p> 
             <!-- start experience -->
                 <div class="experience">                
                    <div class="item-experience">
                         <span class="title-project">Senior Web Engineer</span>
                         <span class="hashtag">&#64; FromAtoB</span>
                         <span class="date">2019 - now</span>
                    </div>  
                    
                    <div class="item-experience">
                        <span class="title-project">Head of Product Design</span>               
                         <span class="hashtag">&#64; BizCommerce</span>
                         <span class="date">2016 - 2019</span>
                    </div> 
     
                    <div class="item-experience">
                     <span class="title-project">Head of UX/UI</span>
                     <span class="hashtag">&#64; BizCommerce</span>
                     <span class="date">2011 - 2019</span>
                     </div> 
     
                 <div class="item-experience">
                     <span class="title-project">Head of Design & Frontend</span>
                     <span class="hashtag">&#64; JOE</span>
                     <span class="date">2010 - 2014</span>
                 </div> 
                 <div class="item-experience">
                     <span class="title-project">Senior Frontend Developer</span>
                     <span class="hashtag">&#64; Tray</span>
                     <span class="date">2008 - 2010</span>
                     </div> 
     
                 <div class="item-experience">
                     <span class="title-project">Web Designer</span>
                     <span class="hashtag">&#64; E2W</span>
                     <span class="date">2006 - 2008</span>
                 </div> 
                 <div class="item-experience">
                     <span class="title-project">Freelancer</span>
                     <span class="hashtag">Illustrations & Web development</span>
                     <span class="date"> 2005 - now</span>
                     </div> 
     
                 
                 </div> 
                  <!-- end experience -->
                  <p class="title-experience">Experience</p> 
                  <!-- start experience -->
                      <div class="experience">                
                         <div class="item-experience">
                              <span class="title-project">Senior Web Engineer</span>
                              <span class="hashtag">&#64; FromAtoB</span>
                              <span class="date">2019 - now</span>
                         </div>  
                         
                         <div class="item-experience">
                             <span class="title-project">Head of Product Design</span>               
                              <span class="hashtag">&#64; BizCommerce</span>
                              <span class="date">2016 - 2019</span>
                         </div> 
          
                         <div class="item-experience">
                          <span class="title-project">Head of UX/UI</span>
                          <span class="hashtag">&#64; BizCommerce</span>
                          <span class="date">2011 - 2019</span>
                          </div> 
          
                      <div class="item-experience">
                          <span class="title-project">Head of Design & Frontend</span>
                          <span class="hashtag">&#64; JOE</span>
                          <span class="date">2010 - 2014</span>
                      </div> 
                      <div class="item-experience">
                          <span class="title-project">Senior Frontend Developer</span>
                          <span class="hashtag">&#64; Tray</span>
                          <span class="date">2008 - 2010</span>
                          </div> 
          
                      <div class="item-experience">
                          <span class="title-project">Web Designer</span>
                          <span class="hashtag">&#64; E2W</span>
                          <span class="date">2006 - 2008</span>
                      </div> 
                      <div class="item-experience">
                          <span class="title-project">Freelancer</span>
                          <span class="hashtag">Illustrations & Web development</span>
                          <span class="date"> 2005 - now</span>
                          </div> 
          
                      
                      </div> 
                       <!-- end experience -->
                       <p class="title-languages">Languages</p> 
                       <!-- start languages -->
                           <div class="language">                
                              <div class="item-language">
                                   <span class="comment">// fluent</span>
                                   <p class="lg">afr <span class="comment">Francais</span></p>
                                  <p class="lg">en-US<span class="comment">English</span></p>
                                   
                              </div>
                              <div class="item-language">
                                <span class="comment">// intermediate</span>
                                <p class="lg">afr <span class="comment">Francais</span></p>
                               <p class="lg">en-US<span class="comment">English</span></p>                                
                           </div>
                           <div class="item-language">
                            <span class="comment">// basic</span>
                            <p class="lg">afr <span class="comment">Francais</span></p>
                           <p class="lg">en-US<span class="comment">English</span></p>
                            
                       </div>
                             </div> 
                       <!-- end languages -->
         </div>  
        </div>
        <!-- end about-page -->
    </div>
<!-- end about -->
