
@{
    ViewData["Title"] = "Contact";
}

<  <!-- start contact -->
    <div class="contact">
        <div class="info">
            <span>Your Name*</span>
            <input type="text" name="" id="" placeholder="Enter Your Name" class="txt">
        </div>
        <div class="info">
            <span>Your E-mail*</span>
            <input type="email" name="" id="" placeholder="Enter Your Email" class="txt">
        </div>
        <div class="info">
            <span>Message*</span>
              <textarea name="" id="" cols="30" rows="10" placeholder="Message" class="txt" style="    padding: 19px 20px;
              height: 100px;"></textarea>
        </div>
        <button type="submit" id="btn-send">Send Message <i class="fas fa-paper-plane"></i></button>       
    </div>
    <!-- end contact -->

